body{
    color:white;
    font-family: 'Bree Serif', serif;
    height: 100%;
    background: linear-gradient(to right, #e55d87, #5fc3e4);
}
#myChart
{
    width: 200px;
    height:200px;
}
input#search {
    color: white!important;
    font-family: 'Bree Serif', serif;
    font-size: 1.5em;
}
