<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <style>
        #myChart
        {
            width: 200px;
            height:200px;
        }
    </style>
</head>
<body>
<h1 style="text-align: center;">Twitter Sentiment Analysis</h1>
<div class="row">
    <div class="col m8 push-m2 l6 push-l3 s12">
        <input type="text" id="search"/>
        <a class="waves-effect waves-light btn" onclick="submit()" style="margin-top: 10px;">Submit</a>
    </div>
</div>
<div class="row" style="margin:5% 0;">
    <div class="col m8 push-m2 l6 push-l3 s12">
        <div id="result"></div>
        <canvas id="myChart" style="margin:10px;"></canvas>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script type="text/javascript">
    var ctx = document.getElementById("myChart").getContext('2d');
    function plot(result)
    {
        data = {
            datasets: [{
                data: [result['positive'],result['negative'], result['neutral']],
                backgroundColor:['rgba(75, 192, 192, 1)','rgba(255, 99, 132, 1)','rgba(255, 206, 86, 1)']
            }],

            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: [
                'Positive Tweets',
                'Negative Tweets',
                'Neutral Tweets'
            ]
        };
        var myChart = new Chart(ctx,{
            type: 'doughnut',
            data: data
        });
    }
    function submit() {
        search = document.getElementById('search').value;
        console.log(search);
        data = {'search': search};
        console.log(data);
        var a = `<div id="loader" class="preloader-wrapper big active" style="margin-left:50%;">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div><div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div></div><p class="active" style="margin-left: 50%;">Loading...</p>`;
        $("#result").html(a);
        $("#myChart").css("display","none");
        $.ajax({
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            success: function (result) {
                console.log(result); // result is an object which is created from the returned JSON
                var x = `<h3><b>Summary</b></h3>Total Tweets: ${result['negative']+result['positive']+result['neutral']}<br/>Negative Tweets:${result['negative']}<br/>Positive Tweets:${result['positive']}<br/>Neutral Tweets:${result['neutral']}<br/>`;
                $("#loader").removeClass("active");
                $("#result").html(x);
                $("#myChart").css("display","block");
                plot(result);
            }
        });
    }
</script>
</body>
</html>